
#top {
    position: relative;
    background-color: orange;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    
    width:100%;
    height:20px;
    color: white;
    position: relative;
    text-align: center;
    background-color: orange;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
    
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    height: 80%;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


